[submodule "picsom"]
	path = PicSOM
	url = https://github.com/aalto-cbir/PicSOM
[submodule "inaSpeechSegmenter"]
	path = inaSpeechSegmenter
	url = https://github.com/ina-foss/inaSpeechSegmenter
[submodule "DeepCaption"]
	path = DeepCaption
	url = https://github.com/aalto-cbir/DeepCaption
[submodule "OpenNMT-py"]
	path = OpenNMT-py
	url = https://github.com/Waino/OpenNMT-py.git
[submodule "AudioTagger"]
	path = AudioTagger
	url = https://github.com/ZhicunXu/AudioTagger.git
[submodule "statistical-tools"]
	path = statistical-tools
	url = https://github.com/MeMAD-project/statistical-tools
[submodule "asr-finnish"]
	path = asr-finnish
	url = https://github.com/psmit/char-fin-2017
[submodule "EUR-FaceRec"]
	path = EUR-FaceRec
	url = https://github.com/MeMAD-project/EUR-FaceRec.git
[submodule "rdf-converter"]
	path = rdf-converter
	url = https://github.com/MeMAD-project/rdf-converter.git
