[submodule "picsom"]
	path = PicSOM
	url = https://github.com/aalto-cbir/PicSOM
[submodule "inaSpeechSegmenter"]
	path = inaSpeechSegmenter
	url = https://github.com/ina-foss/inaSpeechSegmenter
[submodule "DeepCaption"]
	path = DeepCaption
	url = https://github.com/aalto-cbir/DeepCaption
[submodule "OpenNMT-py"]
	path = OpenNMT-py
	url = https://github.com/Waino/OpenNMT-py.git
[submodule "AudioTagger"]
	path = AudioTagger
	url = https://github.com/MeMAD-project/AudioTagger.git
[submodule "statistical-tools"]
	path = statistical-tools
	url = https://github.com/MeMAD-project/statistical-tools
[submodule "asr-finnish"]
	path = asr-finnish
	url = https://github.com/psmit/char-fin-2017
[submodule "rdf-converter"]
	path = rdf-converter
	url = https://github.com/MeMAD-project/rdf-converter.git
[submodule "EUR-FaceRec"]
	path = EUR-FaceRec
	url = https://github.com/D2KLab/Face-Celebrity-Recognition.git
[submodule "visual-storytelling"]
	path = visual-storytelling
	url = https://github.com/aalto-cbir/visual-storytelling
[submodule "avsr"]
	path = avsr
	url = https://github.com/aalto-speech/avsr
[submodule "SphereDiar"]
	path = SphereDiar
	url = https://github.com/Livefull/SphereDiar
[submodule "espnet-old-speaker-aware"]
	path = espnet-old-speaker-aware
	url = https://github.com/Gastron/espnet-old-speaker-aware
